.brand_logo{
    font-family: cursive;
}
.R{
    color:hsl(64, 100%, 48%);
}
.a{
    color:rgb(177, 106, 0);
}
.n{
    color:rgb(24, 146, 0);
}
.g{
    color:rgb(157, 253, 13);
}
.l{
    font-family:'Trebuchet MS', sans-serif;
    color:rgb(184, 14, 14);
}
.o{
    color:darkorange;
}
.r{
    color:rgb(207, 100, 0);
}




